:root {
  --text: #475569;
  --text-h: #0f172a;
  --bg: #fff;
  --border: #f1f5f9;
  --accent: #4f46e5;
  --sans: "Inter", system-ui, sans-serif;
  --heading: "Outfit", system-ui, sans-serif;

  font: 16px/1.6 var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #94a3b8;
    --text-h: #f8fafc;
    --bg: #0f172a;
    --border: #1e293b;
  }
}

body {
  margin: 0;
  @apply bg-slate-50 dark:bg-slate-950 transition-colors duration-300;
}

h1, h2, h3, h4 {
  font-family: var(--heading);
  color: var(--text-h);
  @apply font-black tracking-tight;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 dark:bg-slate-800 rounded-full hover:bg-slate-300 dark:hover:bg-slate-700 transition-colors;
}
